<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Pitchfork Album Review Scraper</h1>
    <p class="lead">Check out all of the latest Pitchfork album reviews, and leave comments for each review!</p>
    <hr class="my-4">
    <p>Scrape new articles!</p>
    <a class="btn btn-primary btn-lg" id="btn-scrape" href="#" role="button">Scrape</a>
  </div>

  <div class="card">
    <div class="card-header">
      Album Reviews
    </div>
    <div class="card-body" id="reviews">
      {{#unless reviews}}
      Press the "Scrape" button to get the latest reviews!
      {{/unless}}

      {{#each reviews}}
          <div class="card">
            <div class="card-body">
              <div class="row">
                  <div class="col-2">
                          <img src="{{this.img}}" class="card-img" alt="Album art" style="max-width: 160px;">
                  </div>
                  <div class="col-10">
                          <a href="{{this.link}}" target="_blank"><h3 class="card-title">{{this.album}} - {{this.artist}}</h3></a>
                          <a href="reviews/{{this.id}}" target="_blank">Comments</a>
                  </div>
              </div>
            </div>
          </div>
      {{/each}}
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../public/app.js"></script>